<div class="container">
  <mat-card class="example-card card">
    <mat-icon class="icon">account_circle</mat-icon>
    <mat-card-title>Sign In</mat-card-title>
    <form [formGroup]="loginForm">
      <mat-form-field  appearance="fill">
        <mat-label>User name</mat-label>
        <input matInput formControlName="username" type="username" placeholder="eg : ABC1234">
        <mat-error *ngIf="loginForm.get('username')!.errors?.['custom'] && !loginForm.get('username')!.errors?.['required']">
            Please enter a valid <strong>User name</strong>
        </mat-error>

        <mat-error *ngIf="loginForm.get('username')!.errors?.['required']">
            Username is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field  appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="togglePasswordVisibility()">
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="loginForm.get('password')!.errors?.['required']">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <br>
      <button  class="button" mat-raised-button color="accent" routerLink="/newuser">
        New User ? Sign Up
      </button>
      <button  class="button2" mat-raised-button color="primary" (click)="LoginUser()" [disabled]="!loginForm.valid">
        Sign In
      </button>
    </form>
  </mat-card>
</div>